<h1>Here is what is currently OPEN</h1>
<p>It is currently <%= @currentfree.day %> <%= @currentfree.week %> <%= @currentfree.period %></p>
<ul>
 <% @currentfree.rooms.each do |room| %>
 <li>Room: <%= room %></li>
 <% end %>
 </ul>
<h1> FIND A ROOM!</h1>
<div class="row">
  <form action="/viewroom" method="POST" class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <select name="week">
          <option value="A">A</option>
          <option value="B">B</option>
      </select>
      <label for="week">Select a Week</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <select name="day">
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
        </select>
        <label for="week">Select a Day</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <select name="period">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4A">4</option>
          <option value="4B">4</option>
          <option value="4A">4</option>
          <option value="4B">4</option>
          <option value="5A">5</option>
          <option value="5B">5</option>
          <option value="6A">6</option>
          <option value="6B">5</option>
          <option value="7">7</option>
          <option value="8">8</option>
        </select>
        <label for="week">Select a Period</label>
      </div>
    </div>
    <input type="submit">
  </form>
</div>
